.io-heading {
    margin: 0px auto;
    width: 80vw;
    padding: 10px;
    background-color: #f8971f;
    color: white;
    text-align: center;
}

.checked_table {
    margin: 20px auto;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    border-collapse: collapse;
    width: fit-content;
}

.checked_table > tbody > tr > td {
    text-align: center;
    width: fit-content;
    padding: 5px;
    border: 1px solid #f8971f;
    color: #333f48;
}

.checked_table > tbody > tr:nth-child(1) > td {
    background-color: #f8971f;
    color: white;
}

.check-table-container {
    width: 100%;
}

.check-table-container > p {
    margin: 5px auto;
    width: fit-content;
}

.hw-input {
    margin: 5px;
    width: 50px;
    font-size: 20px;
    text-align: right;
}

.check-text {
    margin: 20px auto;
}

.hw-spanText {
    font-weight:bold;
    color: #f8971f;
}

/** Checkin Only **/
#showTable, #showPara {
    visibility: visible;
}

#hideTable, #hidePara {
    height: 0px;
    visibility: collapse;
    margin: 0px;
}



/** Checkout Only **/

.hideError, .showError {
    margin: 0px auto;
}

.hideError {
    visibility: collapse;
    height: 0px;
}

.showError {
    visibility: visible;
    color: red;
}

.hw-input:disabled {
    cursor: default;
    color: gray;
}