/* #reactgooglegraph-1{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
} */
#hwChart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table {
    clear: both;
    margin: 20px auto;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    
}

th {
    background-color: #f8971f;
    color: white;
    text-align: center;
    width: 150px;
    font-size: 20px;
}

td {
    text-align: center;
    background-color: white;
    color: #333f48;
}

.percent_bar {
    background-color: #333f48;
    color: white;
}

tr {
    background-color: white;
}