ul {
    background-color: #333f48;
    list-style: none;
    width: fit-content;
    float: right;
    right: 0;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

li {
    padding-left: 5px;
    background-color: white;
}

li:hover {
    background-color: #333f48;
}

.list_item_div {
    background-color: white;
    width: 140px;
    height: fit-content;
    padding: 10px 25px 10px 20px;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

.menu_link {
    color: #333f48;
    text-decoration: none;
}

.menu_link:hover {
    color: #ff9300;
}